@import url('//www.kiva.org/css/flags16.css');

body {
  color: #333;
  font-family: PostGrotesk, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.container {
  max-width: 990px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.loan-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loan-card {
  width: 280px;
  margin: 20px;
}

.loan-card {
  border: 1px solid #eee;
}

.loan-card a {
  text-decoration: none;
  color: #26b6e8;
}

.loan-card .f16 {
  margin: 0 0.5rem;
}

.name-and-country {
  margin: 6px;
}

.borrower-name,
.borrower-country {
  font-size: 18px;
}

.loan-use {
  font-weight: 300;
  margin: 6px;
  height: 5rem;
}

.loan-amount-left {
  height: 30px;
  line-height: 28px;;
  text-align: center;
  background-color: #efefef;
}

.learn-more {
  height: 54px;
  font-size: 21px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  background-color: #26b6e8;
  text-align: center;
}

.borrower-photo {
  display: block;
  background: #eee;
  text-align: center;
  vertical-align: middle;
  color: #aaa;
}
